# Global Options Block (Optional)
{
    email michele@nuvolaris.io
}

# Site Configuration for Ollama
ollama.nuvolaris.io {
        # Password protection using HTTP Basic Auth
    basicauth / {
        # caddy hash-password  -p '<password>'
        ops $2a$14$NC/WQfHNRR8JW0Wb7Jpx/.Ope8xQGIS5pzGRI437implO5DkwxhOO #D&v0nl1
        demo $2a$14$pyABbe7Mqh5IwdAoKnBA9uC/ZarnEU7JTcUEUc6iQ5SQ8oGMw6mxS #demogpu
    }
    # Reverse proxy to Ollama's service running locally (adjust port as needed)
    reverse_proxy http://127.0.0.1:11434 {
        header_up -Host
    }


    # Enable logging (optional)
    log {
        output file /var/log/caddy/ollama.log
    }
}

# Redirect HTTP to HTTPS
:80 {
    redir https://{host}{uri} permanent
}
